/**
General Styling
**/

body {
	background-color: white;
}

h1 {
	color: black;
}

.main {
    margin: 1em auto;
}


/**
Tab Content Styling
**/

#action-list .nav-tabs, .nav {
    border: none;
}

.tab-content {
    padding: 1em;
    border: 1px solid #dee2e6;
}

.nav-item {
    margin-right: 0.5em;
}

#action-list .nav-item .nav-link {
    color: #336699;
    background-color: #f2f2f2;
}

#action-list .nav-item .nav-link.active{
    background-color: rgb(33, 37, 41);
    color: #f2f2f2 !important
}

/**
Default Form Styling
**/

form {
    max-width: 400px;
}

.form-group {
    margin-top: 1em;
}

/**
Table Styling
**/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

tr:hover td {
    background-color: #ddd;
}

tr.disabled {
    background-color: #eee;
}